@import url("https://fonts.googleapis.com/css2?family=Sevillana&family=Tangerine:wght@400;700&display=swap");

body {
    background-color: rgb(194, 246, 83);
}

.name {
	font-family: "Tangerine", cursive;
	font-weight: 700;
	font-style: normal;
}

img {
    border-radius: 40px;
}

a:visited{
    color: brown;
}
button:hover{
    background-color: yellow;
    text-decoration: underline;
}
a:active{
    color:red;
}
